
*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-family: "Roboto", sans-serif;
  background-color: #1a2035;
}

.sidebar{
  position: fixed;
  left: -250px;
  width: 230px;
  height: 100%;
  background:#042331;
  transition: all .5s ease;
  overflow: auto;
}
.sidebar header{
  font-size: 22px;
  color:white;
  text-align: center;
  line-height: 78px;
  background: #063146;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: auto;
  width: 100%;
  line-height:65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing:border-box;
  border-top:1px solid rgba(255,255,255,.1);
  border-bottom:1px solid black;
  transition: .4s;
}

ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}


#check{
  display:none;
}

label #btn,
label #cancel
{
  position: fixed;
  cursor:pointer;
  background:#042331;
  border-radius: 3px;
}

label #btn{
  left: 48px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 38px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;

}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 230px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;

}
#check:checked ~ section{
  margin-left: 220px;
}

section{
  background: url(.././img/fondo2.jpg)no-repeat; 
  background-position: center;
  background-size: cover;
  height: auto; /* height: 100vh; */
  transition: all .5s;
}


.titulo{
width: auto;
height: 70px;
text-align: center;
background-color:#1a2035;
padding-top: 10px;
}

.botones{
  padding-left: 100px;
  padding-right: 100px; 
  padding-top: 100px;
  
}

.titulo h1{
  color: white;
}

.card{
  position:inherit;
}

.col-md-4{
  position: inherit;
}
.col-md-3
{
  position: inherit;
}



.fichas{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}

.row{
  padding-top: 50px;
}

.barra{
  position: absolute;
}

@media(max-width: 768px){
  section{
    height: auto;
  }
.botones{
  padding-right: 0px;
  padding-left: 0px;
  font-size: 24px;
}

.titulo h1{
font-size: 24px;
}

.titulo{
  text-align: center;
}

}
.barra{
  position: absolute;
}





section.secdos{
 /* min-height: 100vh;*/
  min-height: 600px;
}


/* Temario*/
.contienesub{
  margin-top: 50px;
}
.subapartado{
  align-items: center;
}


div#body{
  margin:40px auto;
  width:600px;
  min-height:50px;
  background-color: red;
  overflow: hidden;
  border-radius: 5px;
}


div.subapartado{
  margin-left: 21px;
  margin-right: 21px;
  /*width:100px;*/
  min-height:50px;
  background-color: green;
  -webkit-transiton: height 0.2s;
}



div.titul{
 /* width:600px;*/
  height:50px;
  background-color: green;
  overflow: hidden;
  border-bottom: 1px solid #39f58f; 
   
}

p.titul{
  margin:13px;
  color: white;
}

p.titul::before{
content: " ";
}

div.info{
 /*width:600px;*/
  height:0px;
  background-color: #f5f5f5;
  overflow: hidden;
  -webkit-transition: height 0.2s;
}

p.info{
  margin:20px;
  text-align: center;
  color:#4f4f4f;
}


div.subapartado:hover div.info{
  height:280px;
}


/* Pie de pagina */ 

.piesito{
  height: 40px;
  background-color:#1a2035;
  margin-top: 5px;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 10px;
}












